// My SCSS.
html {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

h1 {
    margin: 30px 10px;
}

.control-panel {
    width: 1024px;
    height: 768px;

    button {
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        font-size: 24px;
        
        border-radius: 12px;
        background: linear-gradient(to top left, rgba(0, 100, 255, 0.6), white);

        padding: 10px 20px;

        &:active, &:hover {
            background: linear-gradient(to top left, white, rgba(0, 100, 255, 0.6));
            color: #fff;
        }
    }
}