// My SCSS.
$hologram-blue: rgba(0, 192, 255, 1);
$hologram-blue-bg: rgba(0, 192, 255, 0.75);
$hologram-white: rgba(255, 255, 255, 1);
$hologram-white-bg: rgba(255, 255, 255, 0.75);

html {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

body {
    width: 1024px;
    height: 768px;

    margin-top: 20px;

    background-image: url("../img/techy-green.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.control-panel {
    button {
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        font-size: 24px;

        border: 0px none;
        border-radius: 12px;
        background: $hologram-blue-bg;
        color: $hologram-white;
        box-shadow: 0px 0px 10px 4px $hologram-blue;

        padding: 10px 20px;
        margin: 10px;
    }

    .throttle {
        margin-top: 100px;

        label {
            display: inline-block;
            
            border: 0px none;
            background: $hologram-blue-bg;
            color: $hologram-white;
            box-shadow: 0px 0px 10px 4px $hologram-blue;
            
            padding: 10px 20px;
            margin: 10px;
            margin-bottom: 0px;
        }
    }

    .slider {
        margin: 10px;

        height: 20px;
        background: $hologram-blue-bg;
        box-shadow: 0px 0px 10px 4px $hologram-blue;

        .slider-fill {
            height: 20px;

            background: $hologram-white-bg;
            box-shadow: 0px 0px 10px 4px $hologram-white;
        }

        .slider-handle {
            width: 40px;
            height: 40px;

            position: relative;
            top: -30px;

            border-radius: 50%;
            background: $hologram-white;
            box-shadow: 0px 0px 10px 4px $hologram-white;
        }
    }
}